*.h5
*.mat
*.out
*.pyc
*.pyd
*.sh
*.so
*_test.py
*.DS_Store
~*

VAWTPolySurfaceCoef.csv
CFD_plotting.py
database_call.py
induced_y_plots.py
sheet_plot.py
STARCCM_plot.py
VAWT_loading.py
velocity_optimize_SMG.py
vel_vort_profile_example.py
velocity_profile_read.py
starccm_velocity_4.0_0.25.csv
observer_pos.py
wake_check.py
wake_order_test.py
windfarm_rotate.py

/wake_model/.idea/*
/wake_model/_vawtwake.so.SYM/*
/dist/*
/build/*
/wake_model/VAWT_Wake_Model.egg-info/*
/wake_model/vawtwake.egg-info/*
/wake_model/validation/Figure_11_data/*
*.xml

/wake_model/data/Figshare/*

/wake_model/_bpmvawt.so.dSYM/*
/wake_model/_vawtwake.so.dSYM/*

!/wake_model/data/Figshare/README.md
